Blogmailer#register

<!DOCTYPE html>
<body>
 	<h1>Welcome to our movie blog site, <%= @user.name %></h1> 
 	<p>       You have successfully signed up   </p>  
 	<p>Thanks for joining, keep on blogging!!!! <%=@user.email%> </p> 
   </body> 
 </html> 
